* ,
*::before ,
*::after {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.container {
    background-color:rgb(118, 119, 122);
    padding:30px;
    margin:30px;
    width:500px;
    height:350px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    border-radius:5px;
    font-family: 'Times New Roman', serif;
}
.container h1 {
    background: #0a272f;
    color:white;
    text-align: center;
    font-size: 22px ;
    letter-spacing: 1px;
    margin-top:-30px;
    margin-left:-20px ;
    margin-bottom:40px;
}
.container p {
    font-size:20px;
    color:#f38a8a;
    text-align: center;
}
.display {
   margin-bottom: 45px;
}
.row {
  
    display:flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 30px;
}
.row.span {
    font-size:15px;
    color:#ff5252;
    margin-left: -25px;
}
label {
    color: white ;
    font-size: 18px;
    text-align: center;
    padding:50px  50px 20px ;
    margin-right:10px;
}
input[type = number] {
   width:100px; 
 
}
.ani {
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .ani:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .ani:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  
